server:
  port: 8080

spring:
  profiles:
    active: dev # 【关键】默认激活 dev 开发环境，方便你本地直接运行
  servlet:
    multipart:
      max-file-size: 10240MB
      max-request-size: 10240MB
  # Redis 基础配置（如果开发和生产端口一致，可以放在这里，也可以拆分）
  data:
    redis:
      database: 0

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

# 文件上传路径（如果开发和生产不同，也可以移出去）
file:
  upload-dir: ./uploads/