<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.exebackend.mapper.BizWrongRecordMapper">

    <select id="selectWrongRecordPage" resultType="com.ice.exebackend.dto.WrongRecordVO">
        SELECT
        wr.id,
        s.id AS studentId,
        s.name AS studentName,
        s.student_no AS studentNo,
        q.id AS questionId,
        q.content AS questionContent,
        p.id AS paperId,
        p.name AS paperName,
        wr.wrong_answer AS wrongAnswer,
        wr.wrong_reason AS wrongReason,
        wr.create_time AS createTime
        FROM
        biz_wrong_record wr
        JOIN
        biz_student s ON wr.student_id = s.id
        JOIN
        biz_question q ON wr.question_id = q.id
        LEFT JOIN
        biz_paper p ON wr.paper_id = p.id
        <where>
            <if test="studentId != null">
                AND wr.student_id = #{studentId}
            </if>
            <if test="questionId != null">
                AND wr.question_id = #{questionId}
            </if>
            AND wr.is_mastered = 0
        </where>
        ORDER BY wr.create_time DESC
    </select>

    <select id="countErrorsByPaper" resultType="com.ice.exebackend.dto.PaperStatsVO">
        SELECT
            pq.question_id AS questionId,
            q.content AS questionContent,
            q.question_type AS questionType,
            pq.sort_order AS sortOrder,
            COUNT(wr.id) AS errorCount
        FROM
            biz_paper_question pq
                JOIN
            biz_question q ON pq.question_id = q.id
                LEFT JOIN
            biz_wrong_record wr ON pq.question_id = wr.question_id AND pq.paper_id = wr.paper_id
        WHERE
            pq.paper_id = #{paperId}
        GROUP BY
            pq.question_id, q.content, q.question_type, pq.sort_order
        ORDER BY
            pq.sort_order ASC
    </select>

    <select id="selectWrongRecordDetail" resultType="com.ice.exebackend.dto.WrongRecordVO">
        SELECT
            wr.id,
            wr.wrong_answer AS wrongAnswer,
            wr.wrong_reason AS wrongReason,
            q.id as questionId,
            q.content,
            q.image_url AS imageUrl,
            q.options,
            q.answer,
            q.answer_image_url AS answerImageUrl,
            q.description
        FROM biz_wrong_record wr
                 JOIN biz_question q ON wr.question_id = q.id
        WHERE wr.id = #{recordId} AND wr.student_id = #{studentId}
    </select>

</mapper>