<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ice.exebackend.mapper.DashboardMapper">

    <select id="getTopCardStats" resultType="java.util.Map">
        SELECT
                (SELECT COUNT(*) FROM biz_student) AS studentCount,
                (SELECT COUNT(*) FROM biz_subject) AS subjectCount,
                (SELECT COUNT(*) FROM biz_knowledge_point) AS knowledgePointCount,
                (SELECT COUNT(*) FROM biz_question) AS questionCount,
                (SELECT COUNT(*) FROM biz_paper) AS paperCount
    </select>

    <select id="getKpAndQuestionStatsBySubject" resultType="java.util.Map" parameterType="String">
        SELECT
        s.name AS subjectName,
        COUNT(DISTINCT kp.id) AS knowledgePointCount,
        COUNT(DISTINCT q.id) AS questionCount
        FROM
        biz_subject s
        LEFT JOIN
        biz_knowledge_point kp ON s.id = kp.subject_id
        LEFT JOIN
        biz_question q ON s.id = q.subject_id
        <where>
            <if test="month != null and month != ''">
                AND DATE_FORMAT(q.create_time, '%Y-%m') = #{month}
            </if>
        </where>
        GROUP BY
        s.id, s.name
        ORDER BY
        s.id
    </select>


    <select id="getWrongQuestionStatsBySubject" resultType="java.util.Map">
        SELECT
            s.name AS subjectName,
            COUNT(wr.id) AS wrongCount
        FROM
            biz_subject s
                JOIN biz_question q ON s.id = q.subject_id
                JOIN biz_wrong_record wr ON q.id = wr.question_id
        GROUP BY
            s.id, s.name
    </select>

    <select id="getMonthlyQuestionCreationStats" resultType="java.util.Map">
        SELECT
            DATE_FORMAT(create_time, '%Y-%m') AS month,
            COUNT(id) AS count
        FROM
            biz_question
        WHERE
            create_time IS NOT NULL AND create_time >= DATE_SUB(CURDATE(), INTERVAL 12 MONTH)
        GROUP BY
            month
        ORDER BY
            month ASC
    </select>
</mapper>