/* 全局重置，确保所有元素从一个统一的基准开始 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 确保 html, body, 和 Vue 的根挂载点 #app 
  都占据100%的可用高度和宽度，这是让布局铺满全屏的关键。
*/
html,
body,
#app {
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}